* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#canvas1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#canvas2 {
    position: absolute;
    top: 0;
    left: 0;
    background: lightblue;
}

#fractalNameDiv {
    display: none;
    font-size: 40px;
    font-weight: bold;
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 10px;
    background-color: #ffffff; 
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  